.my-form-full-width {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.defaultPadding {
  padding: 5px 25px;
}
.defaultMargin {
  margin: 10px 25px;
}

.my-button {
  margin-left: 1.5em;
}

mat-cell {
  padding-left: 1em;
}
